@model Airline_Ticket_Reservation.Models.ViewModels.BookTicketViewModel

@{
    ViewData["Title"] = "BookTicket";
}

<h1>BookTicket</h1>

<h4>BookTicketViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookTicket" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table>
                @for (int row = 1; row <= Model.Rows; row++)
                {
                    <tr>
                        @for (int col = 1; col <= Model.Columns; col++)
                        {
                            var isSeatOccupied = Model.OccupiedSeats.Any(seat => seat.Item1 == col && seat.Item2 == row);

                            <td>
                                <input type="checkbox" name="SelectedSeats" id="@(Convert.ToString(row) + '_' +Convert.ToString(col))" value="@(Convert.ToString(row) + ';' +Convert.ToString(col))" @(isSeatOccupied ? "checked disabled" : "") />
                                <img src="/images/download.png" style="width:40px;height:40px">
                            </td>
                        }
                    </tr>
                }
            </table>


            <div class="form-group" hidden>
                <label asp-for="FlightIdFK" class="control-label"></label>
                <input asp-for="FlightIdFK" class="form-control" />
                <span asp-validation-for="FlightIdFK" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Upload Passport Image</label>
                <input name="Passport" class="form-control" type="file" />
            </div>

            <div class="form-group">
                <label class="control-label">Passport Number</label>
                <input value="@Model.PassportNo" name="PassportNo" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="BookTicket" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>
@if (!User.Identity.IsAuthenticated)
{
    <div class="registration-backdrop" id="registration">
        <div class="registration-box">
            <a href="/Identity/Account/Login">Login</a>
            <button onclick="hideRegistration()">Continue without login</button>
        </div>
    </div>

    <script>
        document.body.classList.add('background-disabled');

        function hideRegistration() {
            document.getElementById("registration").style.display = "none";
            document.body.classList.remove('background-disabled');
        }
    </script>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");


    }
}
